log "Calculator"
var a <- input "Enter first number: "
var b <- input "Enter second number: "
var op <- input "Enter operation: "

function aopb <- (a,op,b)
    return @a op b
end

log @"Result: " + aopb -> (a,op,b)
